/out/
/.vscode/
bin/
obj/
/signed/
.DS_Store
binskim.log
binskim-results.xml
*.pester.xml
*.swp
CoverageOutput.xml
/Microsoft.PowerShell.Crescendo/test/EchoTool
EchoTool.exe
EchoTool.pdb
